.main {
    width: 100%;
    text-align: center;
    background-image: url("/images/header-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
}