.card {
  background-color: #00a13c;
  width: 100%;
  padding: 0 30px;
  margin-bottom: 80px;
  border-radius: 20px;
  box-shadow: 0px 2px 15px 0px rgba(0, 161, 60, 0.1);
  @media (max-width: 1072px) {
    width: 100%;
  }
  @media (max-width: 1100px) {
    width: 100%;
    padding: 10px;
  }
  @media (max-width: 700px) {
    padding: 0 10px;
  }
  @media (max-width: 586px) {
    padding: 10px;
  }
  @media (max-width: 550px) {
    width: 98%;
  }
}
.title {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}
.subTitle {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #fff;
}
.price {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
.pricePer {
  color: #fff;
}
.button {
  width: 30%;
  height: 50px;
  background: #00a13c;
  box-shadow: 0px 2px 12px 0px rgba(0, 161, 60, 0.07);
  border: 1.5px solid var(--primary, #fff);
  border-radius: 12px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  @media (max-width: 1100px) {
    width: 80%;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0;
  @media (max-width: 1100px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  @media (max-width: 1870px) {
    margin-top: -70px;
  }
  @media (max-width: 1100px) {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  @media (max-width: 700px) {
    padding: 0 10px;
  }
}
.featureParams {
  display: flex;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  list-style: none;
  height: 30px;
  margin-top: 8px;
  margin-right: 30px;
  width: fit-content;
  @media (max-width: 1371px) {
    margin-bottom: 25px;
  }
  @media (max-width: 1100px) {
    margin-bottom: 40px;
  }
}
.feature {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 12rem;
  width: 60%;
  @media (max-width: 1870px) {
    height: 16rem;
    margin-top: 40px;
    width: fit-content;
  }
  @media (max-width: 1289px) {
    margin-bottom: 30px;
  }
  @media (max-width: 1371px) {
    height: 24rem;
  }
  @media (max-width: 1100px) {
    height: 30rem;
    width: 100%;
    align-items: center;
    margin-top: 0;
  }
  @media (max-width: 780px) {
  }
  @media (max-width: 599px) {
    height: 34rem;
  }
}
.featuresBlock {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
    @media (max-width: 1870px) {
      margin-top: 10px;
    }
    @media (max-width: 1100px) {
      margin-top: 50px;
    }
    @media (max-width: 780px) {
      margin-top: 50px;
    }
  }
}
.featuresList {
  display: flex;
  height: 100px;
  ul {
    padding: 0;
    margin-bottom: 0;
    margin-top: -10px;
    @media (max-width: 1070px) {
      margin-top: 10px;
    }
  }
}
.featureTitle {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}
.icon {
  margin-right: 10px;
  @media (max-width: 1110px) {
    margin-right: 10px;
  }
}
.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 9rem;
  @media (max-width: 1870px) {
    flex-wrap: nowrap;
    height: 14rem;
  }

}
