@import "../../../styles/media.scss";

.tabLayout {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @include mq-phone-only {
    padding: 0px;
    border: 0px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 0.5rem;
  width: 100%;
}

.wrapper {
  padding: 1rem;

  &:first-child {
    padding-bottom: 0;
  }
}

.note {
  padding: 1.5rem;
}

.propertyDataNotAvailable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 67vh;
  overflow: hidden;
}

.errorPage {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.backButton {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  color: #00a13c;
  font-weight: 800;
  border: none;
  line-height: 21.5px;
  margin-bottom: 20px;
  cursor: pointer;
  user-select: none;
}
