.tabLayout {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 0.5rem;
  width: 100%;
}

.wrapper {
  padding: 1rem;

  &:first-child {
    padding-bottom: 0;
  }
}

.note {
  padding: 1.5rem;
}
