@import "../../../styles/media.scss";

.main {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include mq-desktop--up {
    max-height: 77.8vh;
    overflow: auto;
    padding-bottom: 0px;
  }

  @include mq-tablet-landscape--down {
    margin-left: 0;
    height: auto;
  }
}

.button {
  width: 220px;
  text-transform: initial;

  @include mq-tablet-landscape--down {
    width: 100%;
  }
}

.tabsWrapper {
  height: 100%;
  margin-bottom: 24px;

  @include mq-tablet-landscape--down {
    height: auto;
  }
}

.toggleButtonGroupLayout {
  position: sticky;
  top: 0px;
  z-index: 2;
  backdrop-filter: blur(30px);
}
