@import "../../../../styles/media.scss";

.search_bar {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;

  input {
    border: none;
    width: 100%;
    background-color: transparent;
    outline: none;
    padding: 2.2rem 2rem;
    transition: 0.1s ease-in-out;
  }
}
