.card {
  border: 1px solid lightgray;
  box-shadow: none;
  border-radius: 0.75rem;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px !important;
}

.cardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
