@import "../../../../styles/media.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 100%;

  @include mq-tablet-portrait--up {
    width: 75%;
    margin: 0 auto;
  }

  @include mq-tablet-landscape--up {
    width: 50rem;
    padding: 2.8rem 4.5rem;
    text-align: center;
  }

  @include mq-desktop--up {
    width: 39rem;
    text-align: left;
  }

  .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.75rem;

    .its_free {
      padding: 0.5rem 1.2rem;
      border-radius: 10px;
      font-size: 0.95rem;
      background-color: rgb(169, 160, 145);
      color: white;
      width: fit-content;

      @include mq-tablet-landscape--up {
        margin: 0 auto;
      }

      @include mq-desktop--up {
        margin: 0;
      }
    }

    .unlock {
      font-size: 2.15rem;
      color: black;
      word-break: normal;
      line-height: 3rem;
      font-weight: 400;

      @include mq-tablet-landscape--up {
        font-size: 2.2rem;
      }

      @include mq-desktop--up {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }
    .simplify {
      font-size: 1.1rem;
      color: black;
    }
  }

  // input {
  //   background-color: white;
  //   border-radius: 10px;
  //   width: 100%;
  //   border: none;
  //   font-size: 1rem;
  //   padding: 1.2rem 1.2rem;
  //   outline: none;

  //   &::placeholder {
  //     color: rgba(0, 0, 0, 0.8);
  //     font-size: 1.1rem;
  //   }
  // }

  .happy_investors {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    @include mq-tablet-landscape--up {
      margin: 0 auto;
    }

    @include mq-desktop--up {
      margin: 0;
    }
  }
}

.formContainer {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  padding-left: 10px;
}

.formWrapper {
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 30rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

  @include mq-tablet-landscape--down {
    width: 70%;
  }

  @include mq-phone-only {
    width: 80%;
  }
}

.input {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  flex-basis: 100%;
  padding-left: 10px;
}

.input input {
  width: 100%;
  font-size: 1.1rem;
}

.input:focus {
  outline: 0;
}
.input::placeholder {
  color: #999999;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  --e-search-form-submit-text-color: #ffffff;
  background-color: #00a13d;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1;
}

.searchButton > svg {
  margin: 0;
}

.searchIcon {
  color: white;
  width: 1.75rem;
}
