@import "../../../../styles/media.scss";

.main {
  width: 100%;
  background-color: #26362c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  color: white;

  @include mq-tablet-landscape--up {
    background-color: transparent;
    color: black;
  }

  .icon_options {
    @include mq-tablet-landscape--up {
      display: none;
    }
  }

  .nav_options {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    @include mq-tablet-landscape--down {
      display: none;
    }

    .options {
      display: flex;
      background-color: white;
      border-radius: 0.3rem;

      .option {
        // border: 1px solid black;
        font-size: 0.9rem;
        padding: 0.5rem 2.5rem;
        cursor: pointer;

        &:hover {
          // background-color: rgb(232, 226, 226);

          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          transition: 0.2s ease-in-out;
        }
        // flex: 1;
      }
    }
  }
}
