@import "../../../../styles/media.scss";

.toolbar {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem !important;

  @include mq-desktop--down {
    padding: 0rem 3rem !important;
  }

  @include mq-tablet-landscape--down {
    padding: 1rem 2rem !important;
  }

  @include mq-phone-only {
    padding: 1rem 1rem !important;
  }
}

.image {
  cursor: pointer;
  width: 125px;
  height: auto;

  @include mq-phone-only {
    width: 100px;
  }
}

.icon {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
