@import "../../styles/media.scss";

.blurOverlayLayer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(8px) contrast(102%);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.637);
  border: 1px solid #e3e3e3;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 36px;

  @include mq-phone-only {
    position: static;
    backdrop-filter: blur(0px) contrast(102%);
    -webkit-backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid #e3e3e3;
    border-radius: 0px;
    margin-bottom: 15px;
  }
}

.title {
  color: #00a13c;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 25px;
}

.description {
  max-width: 846px;
  font-family: Filson Pro;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  margin-bottom: 20px;
  text-align: center;
}
