.blurOverlayLayer {
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(8px) contrast(102%);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.637);
  border: 1px solid #E3E3E3;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 36px;
}

.title { 
  color: #00A13C;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 25px;
}

.description {
  max-width: 846px;
  font-family: Filson Pro;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  margin-bottom: 20px;
  text-align: center;
}