@import "../../../../styles/media.scss";

.container {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  @media (max-width: 1110px) {
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

.wrapper {
  padding-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  margin-top: 5rem;
  width: 55%;

  @media (max-width: 1110px) {
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-bottom: 30px;
  }
  // @include mq-phone-only {
  //   margin-top: 3rem;
  // }
}

.pictureWrapper {
  margin-left: 100px;
  width: 50%;
  @media (max-width: 1110px) {
    margin: 0 0 30px;
    width: 70%;
  }
}
.wrap {
 // position: relative;
}
// .homeImg {
//   position: relative;
//   top: 200px;
//   left: 30px;
// }
// .homePropImg {
//   position: absolute;
//   top: 600px;
//   right: 450px;
// }

.imageFeatures {
  width: 50%;
  height: 50%;
}

.paragraph {
  // margin: 15px 0;
  font-size: 1.1rem;
  font-style: italic;
  width: fit-content !important;

  @include mq-phone-only {
    margin-bottom: 1rem !important;
    width: 90%;
  }
}

.greenSection {
  background-color: rgba(0, 161, 60, 0.6);
}

.header {
  margin: 0;
  margin-top: -30px;
  width: 100%;
  color: #061a23;
  font-size: 1.8vw;
  font-weight: 800;
  text-transform: uppercase;
  @media (max-width: 1110px) {
    text-align: center;
  }
  // @include mq-tablet-landscape--down {
  //   width: 75%;
  // }

  // @include mq-phone-only {
  //   width: 100%;
  // }
}

.line {
  width: 41px;
  height: 3px;
  border-radius: 3px;
  background-color: rgba(254, 105, 7, 1);
}

.greenSection {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.searchButton {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 50px;
  color: rgba(0, 161, 60, 1);
  background-color: #ffffff;
  border: 2px solid rgba(0, 161, 60, 1);
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}
