@import "../../../../styles/media.scss";

.videoSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq-tablet-landscape--down {
    margin-bottom: 2rem;
  }
}

.video {
  width: 90%;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;

  & img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.displayNone {
  display: none;
}

.gradientBackground {
  z-index: -1;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135.86deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 0.01%, rgba(255, 255, 255, 0) 95.74%);
  backdrop-filter: blur(3px);
  border-radius: 35px;
  cursor: pointer;
}

.bottomEdge,
.topEdge,
.starFilled1,
.starFilled2,
.starFaded,
.squareFilled,
.squareFaded1,
.squareFaded2 {
  position: absolute;
  z-index: -1;
}

.bottomEdge,
.topEdge {
  @include mq-tablet-landscape--down {
    width: 175px;
  }

  @include mq-phone-only {
    width: 125px;
  }
}

.bottomEdge {
  left: 0;
  bottom: 0;
}

.topEdge {
  right: 0;
  top: 0;
}

.starFilled1 {
  left: -2rem;
  bottom: 2rem;

  @include mq-tablet-landscape--down {
    left: 0;
    top: 1rem;
  }
}

.starFilled2 {
  right: 2rem;
  bottom: 3rem;

  @include mq-tablet-landscape--down {
    right: 0;
    bottom: 1rem;
  }
}

.starFaded {
  left: 3rem;
  top: 2rem;

  @include mq-tablet-landscape--down {
    top: -15rem;
    left: 90%;
  }
}

.squareFilled {
  right: 15rem;
  top: 4rem;
}

.squareFaded1 {
  left: -7rem;
  top: 50%;

  @include mq-tablet-landscape--down {
    top: -7rem;
    left: 40%;
  }
}

.squareFaded2 {
  left: 50%;
  bottom: 1rem;
}
