.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

@media (min-width: 768px) {
    .card {
        width: 33%
    }
}