.headerDefault{
    padding: 40px 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.headerContianer{
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.input{
    font-weight: 300;
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    flex-basis: 100%;
    padding-left: 10px;
}

.input input {
    width: 100%;
}

.input:focus{
    outline: 0;
}
.input::placeholder {
    color: #999999;
}

.formContainer{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    padding-left: 10px;
}

.formWrapper{
    padding: 5px;
    background-color: white;
    border-radius: 0.5rem;
    width: 30rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.searchButton{
    display: flex;
    align-items: center;
    justify-content: center;
    --e-search-form-submit-text-color: #FFFFFF;
    background-color: #21C25E;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 1;
}

.searchButton > svg {
    margin: 0;
}

.searchIcon{
    color:white;
    margin-right: 4px;
    margin-top: 3px;
}