.main {
  position: relative;
  background-color: #f0faf4;
  min-height: calc(100vh - 76.5px); /* Assuming navbar  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

@media screen and (max-width: 744px) {
  .main {
    min-height: 100%; /* If you want the main to shrink on small screens */
  }
}

.title {
  padding: 0;
  margin: 0;
  font-size: 64px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 0.01em;
  text-align: center;
}

.green {
  color: #00a13c;
}

.description {
  max-width: 85%;
  font-size: 30px;
  font-style: italic;
  font-weight: 250;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 59px;
}

.searchBoxMain {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 803px) {
    width: 90%;
  }

  @media screen and (min-width: 804px) and (max-width: 1200px) {
    width: 75%;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    background: -webkit-linear-gradient(left, rgb(204, 204, 204), transparent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* For other browsers, you can just fallback to a solid color */
    color: black;
    opacity: 1; /* Firefox */
  }
}

.searchBoxStyle {
  padding: 24px;
  width: 100%;
  font-size: 22px;
  font-style: italic;
  font-weight: 250;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  border: 0px;
  background: #f9fdff;
  box-shadow: 0px 4px 15px 0px #0000000f;
  border-radius: 16px;
}
.searchBox {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #00a13c;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.submitButton {
  width: 176px;
  margin-top: 25px;
  padding: 13px;
  border-radius: 10px;
  font-size: 16px;
}

.suggestionsSection {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 803px) {
    width: 90%;
  }

  @media screen and (min-width: 804px) and (max-width: 1200px) {
    width: 75%;
  }
}

.searchSuggestion {
  z-index: 10;
  padding: 8px;
  background-color: #c7efd6;
  margin: 5px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  opacity: 1;
  cursor: pointer;
  transition: 0.2s linear;
}

.searchSuggestion:active {
  user-select: none;
  opacity: 0.25;
  transition: 0s linear;
}

@media screen and (max-width: 500px) {
  .main {
    padding-top: 50px;
  }

  .title {
    text-transform: uppercase;
    width: 50%;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  .description {
    font-size: 16px;
    font-style: italic;
    font-weight: 250;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #b0b0b0;
    margin-bottom: 20px;
  }

  .searchBoxStyle {
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .searchBox {
    width: 40px;
    top: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 5px;
  }

  .submitButton {
    font-family: Filson Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }

  .searchSuggestion {
    padding: 15px;
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
  }

  .main {
    position: relative;
    background-color: #f0faf4;
    min-height: calc(100vh - 76.5px); /* Assuming navbar  */
  }
}
