@import "../../styles/media.scss";

.main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background-color: rgb(250, 247, 245);
  align-items: center;
  justify-content: center;

  .first_section {
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .empty_box {
      width: 50%;
      height: 23rem;
      border-radius: 1rem;
      border: 2px solid rgb(191, 182, 182);

      @include mq-desktop--down {
        display: none;
        padding-right: 0;
      }
    }
  }

  .third_section {
    padding: 4.3rem 0;
  }
}
