.background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //height: 422px;
  background-color: #00a13c;
  padding: 60px;
  width: 95%;
  margin: 0 auto;
  border-radius: 20px;

  @media (max-width: 1200px) { //1600
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  @media (max-width: 1000px) {
    padding: 60px 0;
    width: 100%;
  }
}
.leftBlock {
  @media (max-width: 1200px) { //1600
    margin-bottom: 20px;
  }
  @media (max-width: 1000px) {
    width: 100%;
  }
}
.title {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  @media (max-width: 1000px) {
    text-align: center;
  }
}
.text {
  font-weight: 400;
  font-size: 26px;
  margin-top: 40px;
  color: #fff;
  padding-right: 10px;
  //width: 851px;
  @media (max-width: 1000px) {
    width: 100%;
    //margin: 10px;
    padding: 0 15px;
  }
}
.subtitle {
  font-weight: 400;
  font-size: 26px;
  color: #fff;
  width: 351px;
  margin-top: 20px;
  text-align: center;
  @media (max-width: 1000px) {
    width: 95%;
  }
}
.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 30px;
  border-radius: 12px;
  //width: 458px;
  //height: 301px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  @media (max-width: 600px) {
    width: 94%;
    //padding: 10px;
  }
}
.tracingImg {
  margin-top: 30px;
}
.rightBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}
