@import "../../styles/media.scss";

.main {
  display: flex;
  height: 85%;
  max-height: 100%;
  gap: 1rem;

  @include mq-tablet-landscape--down {
    flex-direction: column;
    gap: 2rem;
  }
}

.map {
  width: 35%;

  @include mq-tablet-landscape--down {
    width: 100%;
    height: 25rem;
  }
}

.tabs {
  width: 65%;

  @include mq-tablet-landscape--down {
    width: 100%;
  }
}
