@import "../../../../styles/media.scss";

.wrapper {
  display: flex;
  flex: 1;
  background-color: rgba(190, 190, 190, 0.1);
  border: 1px solid #e0e0e0;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.wrapper:nth-child(1) {
  margin-right: 10px;
}

.icon {
  display: flex;
  scale: 0.65;
  justify-content: center;
  align-items: center;
}

.info {
  padding: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.address {
  font-size: 1.25rem;
  display: flex;
  margin-top: 4px;
  gap: 0.5rem;

  > div:last-child {
    margin-top: 0.25rem;
  }
}

.ownerAddress {
  font-family: Filson Pro;
  font-size: 16px;
  font-weight: 250;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0;
}
