.scoreIcon {
    background: transparent;
    border-radius: 50%;
    padding: 7px;
    border: 1px solid rgba(0,0,0,.1);
    fill: #FD6A08;
}

.scoreNumber {
    background: white;
    color: #00A13D;
    font-weight: 600;
    border-radius: 50%;
    padding: 7px;
    border: 1px solid rgba(0,0,0,.1);
    width: 38px;
    height: 38px;
    text-align: center;
    margin-left: -6px;
}

.card {
    background-color: #F2F3F5;
    padding: 8px 14px;
    margin-right: 12px;
    border-radius: 12px;
}

.scoreTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}