@import "../../../styles/media.scss";

.main {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 24px;
  overflow: hidden;
}

.infiniteScroll {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;

  @include mq-tablet-landscape--down {
    position: relative;
  }
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signUpNote {
  color: #ffffff;
  background-image: url("/images/nearby-signup-note.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5rem 0;
  border-radius: 10px;

  h3,
  p {
    margin: 0;
  }

  p {
    width: 55%;
    text-align: center;

    @include mq-tablet-landscape--down {
      width: 80%;
    }
  }

  button {
    background-color: #ffffff;
    color: #00a13d;
    padding: 0.75rem 2.25rem;
  }
}
