.nearbyIcon{
    background-color: #fff;
    border-radius: 50%;
    padding: 7px;
    border: 1px solid rgba(0,0,0,.1);
    margin-right: 8px;
}
.nearbyDistanceBox{
    display: flex;
    margin-top: 12px;
}
/* .infinite-scroll-component  {
    width: 100%;
    height: 100%;
    position: "absolute";
}
.infinite-scroll-component__outerdiv {
    width: 100%;
    height: 100%;
    overflow: "auto";
    position: "absolute"
} */