@import "../../../styles/media.scss";

.main {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 24px;
  overflow: hidden;
}

.infiniteScroll {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;

  @include mq-tablet-landscape--down {
    position: relative;
  }
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signUpNoteWrapper {
  position: relative;
  width: 100%;
}

.signUpNote {
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  text-align: center;
  align-self: center;
  padding: 0 1.5rem;
  backdrop-filter: blur(0.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #00a13d;

  h2 {
    margin: 0;
  }

  p {
    color: #000000;
  }

  button {
    width: fit-content;
  }
}
