.houseGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  align-items: center;
  justify-content: center;
  max-width: 100%; /* Width enough to fit two houses */
  overflow: auto;
}

.house {
  flex: 500px;
  height: 170px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.houseTitle {
  font-size: 16px;
}
