@import "../../../../styles/media.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(38, 54, 44);
  color: white;

  @include mq-tablet-landscape--up {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  @include mq-desktop--up {
    gap: 0;
  }

  .image_block {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 32rem;
    margin: 2rem 0rem 0rem 0rem;
    // border: 1px solid black;

    @include mq-tablet-portrait--up {
      height: 43rem;
    }

    @include mq-tablet-landscape--up {
      margin: 0;
      order: 2;
      height: 46.4rem;
      width: 50%;
    }
  }

  .review_block {
    padding: 0rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 92%;
    margin: 0 auto;
    // border: 1px solid black;

    @include mq-tablet-landscape--up {
      order: 1;
      width: 50%;
      margin: 2rem;
      gap: 3rem;
    }

    .review {
      font-size: 1.5rem;

      @include mq-tablet-landscape--up {
        order: 2;
      }
    }

    .client_name {
      font-size: 1.4rem;
      font-weight: 100;

      @include mq-tablet-landscape--up {
        order: 3;
      }
    }

    .page_navigation {
      display: flex;
      align-items: center;
      gap: 1.75rem;

      @include mq-tablet-landscape--up {
        order: 1;
      }

      .arrow {
        padding: 0.7rem;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: wheat;
        }
      }

      .current_page {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }
}
