.tabLayout {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 67vh;
  overflow: hidden;
  padding: 0;
  border: 0px;
  box-shadow: 0px 0px 0px;
}

.filterInfoBody {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
