@import "../../../../../styles/media.scss";

.main {
  width: 400px;
  padding: 8px;

  @include mq-phone-only {
    width: 100%;
    position: static;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #4242;
  border-radius: 10px;
}

.tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  user-select: none;
  padding: 5.5px;
  white-space: nowrap;
  overflow: hidden;
}

.tab:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
}

.tab:nth-child(2) {
  border-radius: 0px 10px 10px 0px;
}

.content {
  display: flex;
  flex-direction: column;
}

.priceSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.input {
  width: 100%;
  padding: 8.5px;
  border: 0px;
  border-radius: 7px;
  background-color: #f1f4f6;
}

.min {
  margin-right: 10px;
}

.max {
  margin-left: 10px;
}

.priceSelectorText {
  font-size: 16px;
  line-height: 35px;
  padding: 0px;
}

.priceSelectorTo {
  margin-bottom: -35px;
  font-size: 16px;
}

.buttonWrapper {
  margin-top: 30px;
  width: 150px;
}

.buttonParentLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.monthlyPaymentDescription {
  margin-top: 10px;
  font-size: 10px;
  line-height: 11.98px;
}

.downPaymentSelector {
  width: 100%;
  background-color: #f1f4f6;
  margin-top: 5px;
  padding: 8px;
  margin-bottom: 20px;
}

.priceSorts {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.sortTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.sortOptions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
