.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 80px 10%;

  @media (max-width: 1200px) {
    // flex-wrap: wrap;
    margin: 40px auto;
    // justify-content: space-around;
  }
  @media (max-width: 520px) {
    padding: 60px 5%;
  }
  @media (max-width: 330px) {
    padding: 60px 0;
  }
}
.headCard {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-bottom: -25px;
  @media (max-width: 1000px) {
    justify-content: center;
  }
}
.bodyCard {
  display: flex;
  flex-direction: row;
  gap: 40px;
  @media (max-width: 1200px) {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
