.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 80px 10%;
  //height: 897px;

  @media (max-width: 1200px) {
    //1600
    flex-wrap: wrap;
    margin: 40px auto;
    justify-content: space-around;
  }
  @media (max-width: 520px) {
    padding: 60px 5%;
  }
  @media (max-width: 330px) {
    padding: 60px 0;
  }
}
