@import "../../../../styles/media.scss";

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0;
  gap: 3rem;

  .header {
    width: 70%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
  }

  .questions {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    width: 92%;
    margin: 0 auto;

    @include mq-tablet-landscape--up {
      width: 60%;
    }

    .question {
      background-color: white;
      border-radius: 1rem;
      box-shadow: none;
      outline: none;
      padding: 1rem;

      .summary {
        font-size: 1.2rem;
      }

      .content {
        font-size: 1.1rem;
        color: gray;
      }
    }
  }
}
