.background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  //height: 1993px;
  background: #fff;
  padding: 80px;

  @media (max-width: 1450px) {
    padding: 40px 5px;
  }
}
.title {
  color: var(--black, #061a23);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 40px;
  @media (max-width: 2300px) {
    font-size: 22px;
  }
  @media (max-width: 910px) {
    font-size: 16px;
  }
  @media (max-width: 830px) {
    font-size: 11px;
  }
  @media (max-width: 460px) {
    font-size: 8px;
  }
}
.features {
  //width: 587px;
  width: 65%;
  margin-top: 10px;
}
.featuresBlock {
  ul {
    padding: 0;
    margin-bottom: 0;
  }
}
.featureItem {
  list-style: none;
  color: var(--black, #061a23);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 80px;
  @media (max-width: 830px) {
    font-size: 9px;
  }
  @media (max-width: 460px) {
    font-size: 7px;
  }
}
.starter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  //width: 381px;
  //height: 1833px;
  width: 30%;
  border-radius: 10px;
  background: rgba(175, 7, 254, 0.10000000149011612);
}
.growth {
  display: flex;
  flex-direction: column;
  align-items: center;
  //width: 381px;
  margin-right: 5px;
  width: 30%;
  //height: 1833px;
  border-radius: 10px;
  background: rgba(0, 161, 60, 0.10000000149011612);
}
.professional {
  display: flex;
  flex-direction: column;
  align-items: center;
  //width: 381px;
  //height: 1833px;
  width: 30%;
  border-radius: 10px;
  background: rgba(3, 60, 192, 0.10000000149011612);
}
.cardTitle {
  color: #061a23;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  z-index: 2;
  @media (max-width: 2300px) {
    font-size: 24px;
  }
  @media (max-width: 910px) {
    font-size: 18px;
  }
  @media (max-width: 830px) {
    font-size: 11px;
  }
  @media (max-width: 460px) {
    font-size: 7px;
    margin-top: 20px;
  }
}
.starterBtn {
  width: 184px;
  height: 42px;
  border-radius: 6px;
  background: #af07fe;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 2300px) {
    width: 85%;
  }
  @media (max-width: 910px) {
    font-size: 14px;
  }
  @media (max-width: 830px) {
    font-size: 11px;
    width: 75%;
  }
  @media (max-width: 460px) {
    font-size: 7px;
    height: 30px;
  }
}
.growthBtn {
  width: 184px;
  height: 42px;
  border-radius: 6px;
  background: #00a13c;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 2300px) {
    width: 85%;
  }
  @media (max-width: 910px) {
    font-size: 14px;
  }
  @media (max-width: 830px) {
    font-size: 11px;
    width: 75%;
  }
  @media (max-width: 460px) {
    font-size: 7px;
    height: 30px;
  }
}
.profBtn {
  width: 184px;
  height: 42px;
  border-radius: 6px;
  background: #173cc0;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 2300px) {
    width: 85%;
  }
  @media (max-width: 910px) {
    font-size: 14px;
  }
  @media (max-width: 830px) {
    font-size: 11px;
    width: 75%;
  }
  @media (max-width: 460px) {
    font-size: 7px;
    height: 30px;
  }
}
.sign {
  width: 30px;
  height: 22px;
  margin-bottom: 85px;
  @media (max-width: 830px) {
    margin-bottom: 70px;
  }
}
.signs {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 830px) {
    margin-top: 48px;
  }
}
.signItem {
  margin: 0 0 84px;
}
.signItemMinus {
  margin: 10px 0 86px;
}
.signPlus {
  @media (max-width: 460px) {
    margin: -10px 0 50px;
  }
}
.signMarg {
  @media (max-width: 2300px) {
    margin: -10px 0 -35px;
  }
  @media (max-width: 950px) {
    margin: 5px 0 50px;
  }
  @media (max-width: 910px) {
    margin: 0px 0 40px;
  }
  @media (max-width: 830px) {
    margin: 0 0 50px;
  }
  display: flex;
  flex-direction: column;
}
.preset {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 80px;
  margin-bottom: 80px;
  @media (max-width: 2300px) {
    margin-bottom: 75px;
    margin-top: 55px;
  }
  @media (max-width: 910px) {
    margin-top: 50px;
  }
  @media (max-width: 830px) {
    margin: 55px 0 68px;
  }
  @media (max-width: 460px) {
    font-size: 11px;
    margin: 40px 0 60px;
  }
  @media (max-width: 325px) {
    margin: 60px 0 70px;
  }
}
.quickSign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  @media (max-width: 910px) {
    margin-top: 20px;
  }
}
.dataSign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  @media (max-width: 950px) {
    margin-top: 0px;
  }
  @media (max-width: 910px) {
    margin-top: 10px;
  }
  @media (max-width: 830px) {
    margin-top: -5px;
  }
  @media (max-width: 460px) {
    margin-top: -20px;
  }
  @media (max-width: 345px) {
    margin-top: -5px;
  }
}
.signMinus {
  @media (max-width: 830px) {
    margin-top: 20px;
  }
}
