$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 960px;
$breakpoint-desktop: 1290px;
$breakpoint-desktop-xl: 1460px;
$breakpoint-desktop-xxl: 1690px;
$breakpoint-desktop-3xl: 2000px;
