@import "./media.scss";

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;

  @include mq-desktop--down {
    font-size: 14px;
  }

  @include mq-phone-only {
    font-size: 12px;
  }
}

#__next {
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: "FilsonProLight";
  font-style: normal;
  font-weight: 400;
  src: local("FilsonProLight"), url("/fonts/FilsonProLight/FilsonProLight.woff") format("truetype");
}

@font-face {
  font-family: "FilsonPro";
  font-style: normal;
  font-weight: 500;
  src: local("FilsonProRegular"), url("/fonts/FilsonProRegular/FilsonProRegular.woff") format("truetype");
}

* {
  font-family: FilsonPro;
}

p,
li {
  font-family: "Filson Pro Light", FilsonProLight !important;
  font-size: 1.25rem;
}

h5,
h6,
button {
  font-family: FilsonPro !important;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

select {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 6px;
  border-right: 6px solid transparent;
}

.container {
  display: flex;
  padding: 32px;
}

.infinite-scroll-component {
  width: 100%;
}

.o--tab-plan,
.o--tab-billing,
.o--Account-BillingAddress {
  display: none;
}

.MuiDialog-scrollPaper {
  align-items: flex-start !important;
}
