.card {
  border: 1px solid lightgray;
  box-shadow: none;
  border-radius: 10px;
  overflow: visible;
}

.cardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem !important;
  height: 100%;
  position: relative;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f4f6;
  border-radius: 10px;
  margin-right: 1.25rem;
  width: 64px;
  height: 64px;
}

.label {
  display: flex;
  justify-content: space-between;
  color: #868686;
  font-size: 0.875rem;
}

.valueContainer {
  display: flex;
  justify-content: space-between;
}

.formattedValue {
  font-size: 1.125rem;
}

.launchIcon {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  color: #21c25e;
  font-size: 1.25rem;
  cursor: pointer;
}
