.selector {
  width: 500px;
  background-color: #f1f4f6;
  padding: 8px;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #4242;
  border-radius: 10px;
}

.tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  user-select: none;
  padding: 5.5px;
  white-space: nowrap;
  overflow: hidden;
}

.tab:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
}

.tab:nth-child(2) {
  border-radius: 0px 10px 10px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  justify-content: center;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.minMaxSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.min {
  flex: 1;
  margin-right: 10px;
}

.max {
  flex: 1;
  margin-left: 10px;
}

.minMaxSelectorPlaceholder {
  font-size: 12px;
  line-height: 35px;
  padding: 0px;
}

.to {
  margin-bottom: -35px;
  font-size: 16px;
}

.input {
  width: 100%;
  padding: 8.5px;
  border: 0px;
  border-radius: 7px;
  background-color: #f1f4f6;
}

.applyButton {
  width: 120px;
  margin-left: 10px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.endButtons {
  position: sticky;
  bottom: 0;
  z-index: 100000;
  background: linear-gradient(180deg, transparent, #ffffff);
}
